.photo {
    height: 40px;
    width: 40px;
    border-radius: 50% !important;
    background-size: cover;
    border: 1px solid white;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2px 5px !important;
}

.events {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 3px 5px;
}

.events ::-webkit-scrollbar {
    height: 4px;
}

.text {
    color: rgb(255, 255, 255);
    overflow-x: scroll;
}

.fc .fc-button-primary {
    background: white;
    color: black;
    border: 1px solid black;
}

.fc-toolbar-title {
    font-size: 1.2rem;
    white-space: nowrap;
    margin: 4px;
}

.fc .fc-button {
    font-size: 0.9rem;
}

.fc-timegrid-event {
    border-radius: 23px;
}

.fc-daygrid-event {
    border-radius: 23px;
}

.text {
    word-break:normal ;
}

.fc-daygrid-event {
    white-space: pre-wrap;
}

@media only screen and (max-width: 1000px) {
    .photo {
        height: 25px;
        width: 25px;
    }

    .events {
        flex-direction: column;
        justify-content: center;
        padding: 2px 4px;
    }

    .fc-toolbar-title {
        font-size: 1.2rem;
        white-space: nowrap;
        margin: 4px;
    }

    .fc .fc-button {
        font-size: 0.6rem;
    }

    .text {
        word-break: break-all;
    }

    .fc-daygrid-event {
        white-space: pre-wrap;
    }
}