.floating-message {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: purple;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: 100000;
    transition: opacity 0.3s ease-in-out;
}

.floating-message.visible {
    opacity: 1;
}

.floating-message.hidden {
    opacity: 0;
    pointer-events: none;
}